{% load static %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '..\static\css\style.css' %}">
        <title>
            Shopessories
        </title>
    </head>
    
    <body style="background-color: pink;">
      <h2><marquee>SALE....SALE...SALE...</marquee></h2>
      <div class="nav">
      <ul class="ul-tag">
          <label>FREE SHIPPING</label>
          <label>ORDER NOW</label>
          <li><a href="{%url 'home-page' %}">Products</a></li>
          <li><a href="">Wish-List</a></li>
          <li><a href="{%url 'cart' %}">My Cart</a></li>
          <li><a href="{%url 'login_page' %}">Login</a></li>
          <li><a href="{%url 'register_page' %}">Registration</a></li>
          </ul>
          <p></p>
        <p>
        <img src = "{% static 'static/images/1.jpg' %}", width=300px>
           </p>

      <!-- </div>
      <div class="choose">
          <img src={% static 'images/pic1.jpg' %} width="600" height="800">

      </div> -->
    </body>
</html>

 