{%load admin_urls%}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'C:\Users\Arun\Desktop\Sem 4\SP\Django\Online_Shoping_For_Accessories\static\css\style.css' %}">
        <title>
            Shopessories
        </title>
    </head>
    
    <body style="background-color: pink;">
      <h2><marquee>SALE....SALE...SALE...</marquee></h2>
      <div class="nav">
      <ul class="ul-tag">
          <label>FREE SHIPPING</label>
          <label>ORDER NOW</label>
          <li><a href="">Wish-List</a></li>
          <li><a href="">My Cart</a></li>
          <li><a href="{ % url 'C:\Users\Arun\Desktop\Sem 4\SP\Django\Online_Shoping_For_Accessories\Accounts\Accounts\login.html' % }">Login</a></li>
          <li><a href="C:\Users\Arun\Desktop\Sem 4\SP\Django\Online_Shoping_For_Accessories\Accounts\Accounts\registration.html">Registration</a></li>
      </ul>

      </div>
      <div class="choose">

      </div>
    </body>
</html>