{% load static %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '..\static\css\style.css' %}">
        <title>
            Shopessories
        </title>
    </head>
    
    <body style="background-color: pink;">
      <h2><marquee>SALE....SALE...SALE...</marquee></h2>
      <div class="nav">
      <ul class="ul-tag">
          <label>FREE SHIPPING</label>
          <label>ORDER NOW</label>
          <li><a href="/product">Products</a></li>
          <li><a href="">Wish-List</a></li>
          <li><a href="/cart">My Cart</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/registration">Registration</a></li>
          </ul>

      <!-- </div>
      <div class="choose">
          <img src={% static 'images/pic1.jpg' %} width="600" height="800">

      </div> -->
    </body>
</html>